[Desktop Entry]
Name=Glyphie
Comment=Fast emoji picker with skin tone and gender support
Exec=glyphie
Icon=com.lkbddh.Glyphie
Terminal=false
Type=Application
Categories=Utility;
Keywords=emoji;emoticon;smiley;face;symbol;picker;glyphie;unicode;
StartupNotify=true
StartupWMClass=com.lkbddh.Glyphie
